@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;700&display=swap");

.app {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Fira Sans", sans-serif;
}
.app h2, .app h3 {
  color: #3eb4cd;
}
.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__back-icon {
    justify-content: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 10px;
    width: 24px;
    height: 24px;
    color: white;
    background-color: #d27a76;
    border-radius: 50%;
    cursor: pointer;
    transition-property: transform background-color;
    transition-duration: 200ms;

    &:hover {
      background-color: rgba(135, 118, 210, 0.769);
      transform: scale(95%);
    }
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
